.separator{
    height: 5%;
    padding-top: 2%;
}

ion-item{
    margin-top: 5%;
    margin-bottom: 5%;
    --padding-end:5%;
    --border-color: #518DF7;
}
ion-input{
    color:black;
}
ion-label.black{
    color:black !important;
}

ion-item.white{
    margin-top: 5%;
    margin-bottom: 5%;
    --padding-end:5%;
    --border-color: white;
}
