ion-item{
    margin-top: 5%;
    margin-bottom: 5%;
    --padding-end:5%;
    --border-color: #518DF7;
}
ion-item.white{
    margin-top: 5%;
    margin-bottom: 5%;
    --padding-end:5%;
    --border-color: white;
}

ion-input{
    color:black;
}