
<ion-item class="background_color_white">
  <ion-input placeholder="Nombres" class="input_distance">
  </ion-input>
</ion-item>
<ion-item class="background_color_white">
  <ion-input placeholder="Apellidos" class="input_distance">
  </ion-input>
</ion-item>
<ion-item class="background_color_white">
  <ion-input placeholder="Numero de ID (Documento)" class="input_distance">
  </ion-input>
</ion-item>
<ion-item class="background_color_white">
  <ion-input placeholder="Codigo postal" class="input_distance">
  </ion-input>
</ion-item>
<ion-item class="background_color_white">
  <ion-input placeholder="Direccion" class="input_distance">
  </ion-input>
</ion-item>
<ion-item class="background_color_white">
  <ion-input placeholder="Confirmar PIN (6 números)" class="input_distance">
  </ion-input>
</ion-item>