ion-content{
    --padding-top: 75%;
    --padding-start: 20%;
    --padding-end: 20%;

    
}
ion-button{
    --border-color: white;
    --color: white;
    width: 40pt;
    --border-radius: 50%;
    --border-width: 2pt;
    height: 40pt;
}